<div id="profile">
	<div id="header">
		<div class="tabs_2">
			<h1>Profile</h1>
		</div>
		<div class="tabs_underline"></div>
	</div>
	<div id="settings">
		<h2>Settings</h2>
		<table>
			<tr><th colspan="2" class="tab">Personal</th></tr>
			<tr><th>Full Name</th><td><input type="text" name="test" value="Stian Prestholdt" size="30" /></td></tr>
			<tr><th>Address</th><td><input type="text" name="test" value="Bjørnsvikveien 25B, 1341 Slependen, Norway" size="60" /></td></tr>
			<tr><th colspan="2" class="tab">SMS</th></tr>
			<tr><th>Messages/week</th><td><input type="text" name="test" value="2" size="2" /></td></tr>
			<tr><th>At what time</th><td><input type="text" name="test" value="20:00 pm - 02:00 am" size="25" /></td></tr>
			<tr><th colspan="2" class="tab">TAGS</th></tr>
			<tr><th>What tags to not see</th><td><input type="text" name="test" value="dating, pron, vaser, kiting" size="70" /></td></tr>
			<tr><th>Favorite tags</th><td><input type="text" name="test" value="mmo, hytte, hund, gressplen, hage" size="70" /></td></tr>
			<tr><td coldspan="2"><input type="submit" value="Save" name="sbm" /></td></tr>
		</table>
	</div>
	<div id="picture">
		<img src="/images/profile/stian/pro_001.jpg" alt="profile picture" /><br/>
		Url: <input type="text" name="test" value="http://localhost:3000/images/profile/stian/pro_001.jpg" size="50" />
	</div>
</div>