<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:v="urn:schemas-microsoft-com:vml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
	<title>MessageMap Alpha (0.1)</title>
	<%=stylesheet_link_tag "default", :media => "screen" %>

	
	<% if params[:controller] == "map" -%>
    <script src="http://maps.google.com/maps?file=api&amp;v=2&amp;key=ABQIAAAAdCRnwDhkKcBpnYCZjVDV7hTQg-7dvmJcAQScOdF8xlouGrDa1xS-v-ZXyAAItOkVdjwq_gCzBfUwSw" type="text/javascript"></script>
	<script src="http://www.google.com/uds/api?file=uds.js&amp;v=1.0&key=ABQIAAAAdCRnwDhkKcBpnYCZjVDV7hTQg-7dvmJcAQScOdF8xlouGrDa1xS-v-ZXyAAItOkVdjwq_gCzBfUwSw" type="text/javascript"></script>
	<script src="http://www.google.com/uds/solutions/localsearch/gmlocalsearch.js?adsense=pub-1227201690587661" type="text/javascript"></script>
	<%=javascript_include_tag "ajax" %>
	<%=javascript_include_tag "ajax-dynamic-list" %>
	<script type="text/javascript" language="JavaScript">
	var myMap = null;
	var localSearch = null;
	var myQueryControl = null;
	
	function displayMap(){
	  myMap = new GMap2(document.getElementById("map"));
	  myMap.setCenter(new GLatLng(59.9197530,10.5935668), 12);
	  myMap.addControl(new GSmallMapControl());
	  myMap.addControl(new GMapTypeControl());
	  var pos = new GControlPosition(G_ANCHOR_TOP_LEFT, new GSize(500,10));
	  myMap.addControl(new GScaleControl(), pos); 
	  
	  localSearch = new google.maps.LocalSearch();//{externalAds : document.getElementById("ads")});
	  myMap.addControl(localSearch);
	  myQueryControl = new QueryControl(localSearch);
	  myMap.addControl(myQueryControl);
	  
	  var zoomLevel = 0;
	  
	  GEvent.addListener(myMap, "click", function(overlay, point) {
	    if (point) {
		  zoomLevel = 250*(17- myMap.getZoom());
	      singleClick = !singleClick;
	      setTimeout("if (singleClick) createCircle(new GLatLng("+ point.y + ", " + point.x +"), " + zoomLevel +");", 300);
	    }
	  });
	}
	
	</script>

	<style type="text/css">
	  @import url("http://www.google.com/uds/css/gsearch.css");
	  @import url("http://www.google.com/uds/solutions/localsearch/gmlocalsearch.css");
	
	  div#GQueryControl {
	    background-color: white;
	    width: 155px;
	  }
	</style>

	<% end -%>
</head>
<%if params[:controller] == "map" -%>
<body onload="displayMap()" onunload="GUnload()">
<% else -%>
<body>
<% end -%>
<div id="top">
	<h1>MessageMap</h1>
</div>
<div class="hr1"></div>
<div id="page">
	<%= yield %>
</div>
</body>
</html>
